* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

/* FUNDO DA PÁGINA COM GRADIENT */

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #f634e9, 0%, #ff32dd 100%);
}

/* CARD PRINCIPAL */
.form-container {
    background: rgba(255, 255, 255, 0.95);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
    transition: transform 0.3s ease;
}

.form-container:hover {
    transform: translateY(-5px);
}

.form-container h2 {
    color: #333;
    margin-bottom: 10px;
    font-weight: 600;
}

.form-container p {
    color: #666;
    font-size: 14px;
    margin-bottom: 30px;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-size: 13px;
    font-weight: 500;
}

.input-group input {
    width: 100%;
    padding: 12px 15px;
    border: 2px solid #e1e1e1;
    border-radius: 8px;
    outline: none;
    font-size: 14px;
    transition: all 0.3s ease;
    background-color: #f9f9f9;
}

.input-group input:focus {
    border-color: #730e53;
    background-color: #fff;
    box-shadow: 0 0 0 4px rgba(118, 75, 162, 0.1);

}

button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(to right, #b21f77, #ab1989);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 5px 15px rgba(240, 3, 173, 0.748);
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(163, 4, 70, 0.6);

}

button:active {
    transform: translateY(0);
}

.foorter-link {
    margin-top: 20px;
    font-size: 13px;
    color: #666;
}

.foorter-link a {
    color: #630127;
    text-decoration: none;
    font-weight: 600;
}

.foorter-link a:hover {
    text-decoration: underline;
}